---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Apresentation from "../components/Apresentation.astro";
import Forms from "../components/Forms/Forms.astro";
---

<Layout title="Estrela do amanhã" />
<div id="app">
  <main>
    <div class="main-container">
      <Header />
      <Forms />
    </div>
  </main>
  <aside>
    <div class="aside-container">
      <Apresentation />
    </div>
  </aside>
</div>

<style>
  #app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
    & main {
      overflow: auto;
      padding: 4rem;
      & .main-container {
        max-width: 33rem;
        margin-left: auto;
      }
    }
    & aside {
      background-color: var(--color-surfcace-secondary);
      padding: 4rem;
      & .aside-container {
        max-width: 31rem;
      }
    }
  }
</style>
