---
import "./Fields.css";
import "./Droparea.css";
import "./Radio.css";
---

<fieldset>
  <legend id="options">Opções de matricula</legend>
  <div class="inut-wrapper">
    <label>Selecione o turno de estudo</label>

    <div class="radio-wrapper">
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="study-shit" id="morning" value="morning" />
        <img src="/icons/sun-cloud-02.svg" alt="icone de sol com numvem" />
        <label for="morning" id="morning">Manhã</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="study-shit" id="evening" value="evening" />
        <img src="/icons/sun-02.svg" alt="icone de sol" />
        <label for="evening" id="evening">Tarde</label>
      </div>
    </div>
  </div>

  <div class="input-wrapper">
    <label>Em qual esporte você gostaria de inscrever seu filho(a)?</label>
    <div class="radio-wrapper">
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="football" />
        <img src="/icons/football.svg" alt="icone de bola de futebol" />
        <label for="football">Futebol</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="basketball" />
        <img src="/icons/basketball-02.svg" alt="icone de bola de basquete" />
        <label for="basketball">Basquete</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="swimming" />
        <img src="/icons/swimming.svg" alt="icone de Natação" />
        <label for="swimming">Natação</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="yoga" />
        <img src="/icons/yoga-02.svg" alt="icone de Yoga " />
        <label for="yoga">Yoga</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="volleyball" />
        <img src="/icons/volleyball.svg" alt="icone de volleyball " />
        <label for="volleyball">volley</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="boxing" />
        <img src="/icons/boxing-glove-01.svg" alt="icone de boxing " />
        <label for="boxing">Boxe</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="sport" id="boxing" />
        <img src="/icons/boxing-glove-01.svg" alt="icone de boxing " />
        <label for="boxing">Boxe</label>
      </div>
    </div>
  </div>

  <style>
    fieldset {
      margin-top: 3rem;
    }
  </style>
</fieldset>
