---
import "./Fields.css";
import "./Droparea.css";
import "./Radio.css";
---

<fieldset>
  <legend>Opções de matricula</legend>
  <div class="inut-wrapper">
    <label>Selecione o turno de estudo</label>

    <div class="radio-wrapper">
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="study-shit" id="morning" value="morning" />
        <img src="/icons/sun-cloud-02.svg" alt="icone de sol com numvem" />
        <label for="morning" id="morning">Manhã</label>
      </div>
      <div class="radio-inner">
        <div class="radio-image"></div>
        <input type="radio" name="study-shit" id="evening" value="evening" />
        <img src="/icons/sun-02.svg" alt="icone de sol" />
        <label for="evening" id="evening">Tarde</label>
      </div>
    </div>
  </div>
</fieldset>

<style></style>
